.dashboard-container {
  padding: 20px;
  font-family: sans-serif;
  background-color: #000;
  min-height: 100vh;
  color: #fff;
}

.dashboard-title {
  font-size: 2.4rem;
  font-weight: 700;
  color: #ffb703;
  text-align: center;
  margin-bottom: 30px;
  font-family: sans-serif;
}

.profit-container {
  background-color: #007bff;
  color: #fff;
  padding: 20px;
  border-radius: 12px;
  font-weight: 700;
  font-size: 1.8rem;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 123, 255, 0.6);
  margin-bottom: 20px;
}

.dashboard-lists {
  display: flex;
  height: 80vh;
  gap: 20px;
}

.list {
  flex-grow: 1;
  overflow-y: auto;
  background-color: #111;
  border-radius: 12px;
  padding: 15px;
  color: #fff;
  box-shadow: 0 2px 6px rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list h3 {
  margin-bottom: 15px;
  text-align: center;
}

.item-container {
  display: flex;
  justify-content: space-between;
  background-color: #222;
  padding: 20px 15px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 1rem;
}
